<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form>
     <input type="text" name="name">Team name</input>
     <input type="text" name="coach">Coach</input>
     Team name ('name')
     Coach ('coach')
     Point Guard ('pg')
     Shooting Guard ('sg')
     Power Forward ('pf')
     Small Forward ('sf')
     Center ('c')
   </form>
 </body>
</html>
